$grey-color1: #cccccc;
$grey-color2: #333333;
$white-color: #FFFFFF;
$dark-grey: #aaaaaa;
$black: #000000;
$black1: #999999;
$grey1: #666666;
$grey2: #d9d9d9;
$grey3: #1e1e1e;
$grey4: #868686;
$background-grey: #f4f4f4;
$shaklee-green: #3a8a3a;
$shaklee-green1: #5d9732;
$shaklee-green2: #43751e;
$shaklee-blue: #00b4cb;
$shaklee-blue1: #06b5cb;

$landing-header: #b2025b;
$question-background-color: #dedede;
$shaklee-question-text-color: #1f1f1f;
$hp-banner1: #dbdbdb;
$hp-banner2: #5c993d;
$questions1: #679f39;
$button1: #f5f5f5;
$button-text: #6dab3c;
$light-border: #f2f2f2;
$red1: #e63939;
$orange1: #f2b63d;
$yellow1: #faea3e;
$shaklee-blue2: #00b3cb;
$shaklee-orange: #FF8C00;