@import "../../assets/scss/variables";
.footer{
  border-top: solid 1px $grey2;
  padding-top: 10px;
  h4 {
    font-size: 21px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding: 0;
    a {
      color: $grey3;
      font-size: 20px;
      font-weight: 100;
      line-height: 48px;
      display: inline-block;
    }
  }

  .terms {
    padding: 10px;
    background: $light-border;
    .links {
      text-align: center;
      a {
        color: $grey4;
        border-left: solid 1px $grey2;
        padding: 0 10px;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 16px;
        font-weight: lighter;

        &:first-child {
          border: none;
        }
      }
    }
  }
}