<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>About</h4>
        <ul>
          <li><a href="/">Shaklee Difference</a></li>
          <li><a href="/">Leadership</a></li>
          <li><a href="/">Research Grants</a></li>
          <li><a href="/">Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Support</h4>
        <ul>
          <li><a href="/">Customer Service</a></li>
          <li><a href="/">Order Status</a></li>
          <li><a href="/">Shaklee Guarantee</a></li>
          <li><a href="/">Refund & Return Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 offset-md-4 float-right">
        <h4>Corporate Carreer</h4>
        <select class="form-control"  id="lang" [(ngModel)]="lang" name="lang" (change)="switchLanguage($event)">
		    <option *ngFor="let lang of langList" [value]="lang">
		  		    {{country.toLowerCase()+'-'+lang|translate}}
		    </option>
		 </select>
      </div>
    </div>
  </div>
  <div class="terms">
    <div class="col-12 links">
      <a href="/">Terms & Conditions</a>
      <a href="/">Privacy & Security</a>
      <a href="/">Legal</a>
    </div>
  </div>
</footer>