@import "../../../../assets/scss/variables";
.health-goals {
  background: $button-text;
  border-radius: 50%;
  color: $white-color;
  display: inline-block;
  margin: 20px 0;
  text-align: center;
  width: 30px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
}