<div class="question-content col-5" *ngFor="let question of questions;">
  <div class="text-center">
    <img class="img-fluid question-img" src="{{question.image}}">
    <p class="question-text"><span [innerHTML]="question.label"></span></p>
  </div>

  <app-question-dropdown [dropdown]="question.goals" firstLabel="select-option-goal" label="health-goals-" fromComponent="goal" class="col-6"></app-question-dropdown>
  <app-question-dropdown [dropdown]="question.goals" firstLabel="select-option-goal" label="health-goals-" fromComponent="goal" class="col-6"></app-question-dropdown>
  <app-question-dropdown [dropdown]="question.goals" firstLabel="select-option-goal" label="health-goals-" fromComponent="goal" class="col-6"></app-question-dropdown>
</div>