<div class="question-content col-12  col-md-6 col-lg-6" *ngFor="let question of questions;">
  <div class="text-center">
    <img class="img-fluid question-img" src="{{question.image}}">
    <p class="question-text"><span [innerHTML]="'questions.'+question.label|translate"></span></p>
  </div>

  <div class="row" *ngFor="let i of dropdownCount">
    <div class="col-2 text-right">
      <span class="health-goals">{{i+1}}</span>
    </div>
    <div class="col-10">
      <app-question-dropdown [dropdown]="question.options" firstLabel="select-option-goal" label="health-goals-" type="health_goals"  fromComponent="goal" [index]="i"></app-question-dropdown>
    </div>
  </div>
</div>