.health-goals {
  background: #6dab3c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  text-align: center;
  width: 30px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
}