@import "../../../../assets/scss/variables";
.recap {
  background: $background-grey none repeat scroll 0 0;
  padding: 0 0 60px 0;
  margin-bottom: 50px;

  .title{
    font-size: 28px;
    margin:20px 0 10px 0;
  }
  .title, .desc, .desc a {
    color: $black;
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .desc a {
    text-decoration: underline !important;
    cursor: pointer;
  }
  .col {
    padding: 0;
  }
  .diet {
    margin: 0 10px 0 15px;
  }
  .life {
    margin: 0 15px 0 10px;
  }
  .life, .diet {
    background: $white-color;
    padding: 0;
    min-height: 1150px;

    h5 {
      border-bottom: 1px solid $grey6;
      font-weight: bold;
      padding: 15px 0;
      text-align: center;
    }
    .row {
      border-bottom: solid 1px $grey6;
      margin: 10px 15px;

      .line {
        padding: 0;
      }

      &:last-child {
        border-bottom: medium none !important;
      }
    }
  }
  strong,span,u {
    text-decoration: none !important;
  }

  .question br {
    display: inline;
    content: ' '
  }
  br:after {
    content: ' '
  }
}

.chart {
  margin: 0 15px 40px;
  svg {
    font-family: 'open sans' !important;
    margin-left: 4px;
    font-size: 11px !important;
  }
  svg text[x="405"] {
    display: none;
  }
}

g.highcharts-axis-labels.highcharts-yaxis-labels text {
  font-size: 14px !important;
}
g.highcharts-axis-labels.highcharts-xaxis-labels text {
  font-size: 12px !important;
}
g.highcharts-legend text {
  font-size: 12px !important;
}

.legal-disclaimers {
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 50px;

  ul {
    li{
      list-style: none;
      p {
        margin:0;
      }
      a {
        color: #009eb7;
      }
    }
  }
  .legal-note {
    border: solid 1px $dark-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}