@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.question-content {
  border: none;
  border-right: 1px solid $grey-color1;

  &:last-child {
    border: none;
  }

  .question-img {
    width: 120px;
    height: auto;
  }
  .question-text {
    text-align: center;
    font-weight: 300;
    color: $shaklee-question-text-color;
    margin: 20px 10px 15px;
    font-size: 21px;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    height: 3.5em;
    strong {
      font-weight: 900;
      text-decoration: underline;
    }
  }
  input {
    width: 100%;
    border: 1px solid $dark-grey;
    padding: 15px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    margin: 5px 0 0;
    border-radius: 2px;
  }
  .error{
    color: $red1;
  }
}