<div class="row landing">
  <div class="col-12">
    <h1 class="hp-landing-title" [innerHTML]="'landing.text0' | translate"></h1>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <img [src]="imagePath+image1" class="img-fluid img-landing " />
    <img [src]="imagePath+image2" class="img-fluid img-landing" />
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <app-question></app-question>
    <img [src]="imagePath+image3" class="img-fluid img-landing-logo" />
  </div>
</div>
<div class="row landing">
  <div class="shaklee-logo-section">
    <img [src]="'landing.shaklee-guaranteed-image'|translate" class="img-fluid guarantee-logo"/>
    <h3 [innerHTML]="'landing.text1' | translate"></h3>
  </div>
  <div class="row shaklee-guarantee-section">
    <div class="col-4 col-xs-12" [innerHTML]="'landing.text2' | translate"></div>
    <div class="col-4 col-xs-12" [innerHTML]="'landing.text3' | translate"></div>
    <div class="col-4 col-xs-12" [innerHTML]="'landing.text4' | translate"></div>
  </div>
  <div class="trademarks" [innerHTML]="'landing.text5' | translate"></div>
</div>