@import "../../../../assets/scss/variables";

.question {
  h4 {
    color: $shaklee-question-text-color !important;
    font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif;
    letter-spacing: -0.025em;
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
  }

  input.form-control {
    width: 100%;
    border: 1px solid $dark-grey;
    padding: 15px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    margin: 5px 0 0;
    border-radius: 2px;
    &.error {
      border-color: $red1;
    }
    &.first_name.ng-invalid.ng-touched, &.last_name.ng-invalid.ng-touched, &.email.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  .guest-results-btn {
    padding: 0 15px 0 35px;
    margin: 10px 0 0;
    text-align: right;

    .hq-nav-btn {
      line-height: 4em;
      padding: 12px 15px;
      font-weight: 900;

      i.fa.fa-chevron-right {
        border: solid 1px #FFF;
        border-radius: 50%;
        padding: 5px 3px 3px 6px;
        margin: 0 0 0 30px;
      }
    }
  }

  .btn-container {
    justify-content: flex-end;
  }

  .guest-results-btn .continue-answered-btn, .disclaimer .continue-answered-btn{
    background-color: $questions1 !important;
    color: $white-color;
    pointer-events: auto;
    border-color: $questions1 !important;
    box-shadow: none !important;
  }

  .disclaimer {
    font-size: 12px;
    line-height: 1em;
    padding: 3px 2em;

    p {
      text-align: center;
      line-height: 1.4em;
      color: $grey1;
      font-size: 70%;
    }
    .hq-nav-btn {
      font-weight: 900;
    }
  }
}