$grey-color1: #cccccc;
$grey-color2: #333333;
$white-color: #FFFFFF;
$dark-grey: #aaaaaa;

$shaklee-green: #3a8a3a;
$shaklee-blue: #00b4cb;

$landing-header: #b2025b;
$question-background-color: #dedede;
$shaklee-question-text-color: #1f1f1f;