@import "../../../assets/scss/variables";
.hq-nav-container {
  margin: 20px 0;
  padding: 0;
  div {
    padding: 0;
  }
  .hq-nav-btn {
    padding: 10px 15px;
    background: $button1;
    width: 100%;
    color: $grey-color1;
    font-size: 12.8px;
    line-height: 2em;
    min-height: 3em;
    text-align: center;
    border-radius: 2px;
    white-space: normal !important;
    word-wrap: break-word;
    border-color: $grey-color1;
    pointer-events: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 700;
    i {
      border: 1px solid $button-text;
      border-radius: 50%;
      margin-right: 20px;
      padding: 4px 4px 3px 7px;
      display: inline-block;
      text-align: center;
      font-size: 15px;
      &.fa-chevron-left {
        padding: 4px 7px 3px 4px !important;
      }
    }
  }
  .continue-btn {
    i {
      border: 1px solid $grey-color1;
      margin-left: 20px;
    }
  }
  .continue-answered-btn {
    background-color: $questions1;
    color: $white-color;
    pointer-events: auto;
    i {
      border: 1px solid $white-color;
    }
  }
  .lang-progress-indicator {
    width:43%;
  }

  .lang-next-question-nav {
    width:32%;
  }
  .hq-indicators {
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      background: $grey-color1;
      margin: 1px 5px;
      cursor: default;
      display: inline-block;
      width:  10px;
      height: 10px;
      text-indent: -999px;
      border: 1px solid $light-border;
      border-radius: 10px;
    }

    .active {
      background-color: $questions1;
      border-color: $grey-color1;
      margin: 1px 5px;
      width:  12px;
      height: 12px;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
  &.guest-results-btn{
    padding: 0 15px 0 35px;
    margin: 10px 0 0;
    .hq-nav-btn{
      line-height: 4em;
      padding:12px 15px;
    }
  }
}