<header class="header">
  <nav class="header-top">
    <div class="container">
      <div class="row">
          <div class="col-12 header-col">
            <a class="header-link" href="healthprint-login"  *ngIf="isUserLogin; else elseBlock">
            	<span><i class="fa fa-user" aria-hidden="true"></i> {{'logout'|translate}}</span>
            </a>
            <ng-template #elseBlock>
            	<a class="header-link" href="healthprint-login"><span><i class="fa fa-user" aria-hidden="true"></i>{{'login'|translate}}</span></a>
            </ng-template>
            <a class="header-link nav-cart" href="https://www.shakleedev.com:9002/cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i>  {{'cart'|translate}}</span></a>
          </div>
      </div>
    </div>
  </nav>
  <nav class="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-3 float-left header-logo">
          <a href="/" class="shaklee-logo"><img src="//images.shaklee.com/newDotCom/logo-shaklee-01a.png"></a>
        </div>
        <div class="col-xs-12 col-md-9 float-right header-links">
          <ul>
            <li><a href="/shop" title="Shop">{{'shop'|translate}}</a></li>
            <li><a href="/" title="Personalized Health">{{'hp-health'|translate}}</a></li>
            <li><a class="dist" href="/benefits-distributor" title="Become A Distributor">{{'distributor'|translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>