@import "../../../../../assets/scss/variables";
.hp-health-scores {
  margin: 15px;
  .learn-more {
    font-size: 10px;
    text-transform: uppercase;
    color: $shaklee-green1;
    font-weight: 700;
    text-shadow: none !important;
    cursor: pointer;
    margin-top: 0;
    display: block;
  }
  .section-title {
    color: $shaklee-blue1;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 15px auto;
    b {
      font-size: 120%;
      color: $shaklee-green1;
    }
  }
  .section-score {
    .title {
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      padding: 10px 0;
      height: 4.25em;
      margin: 10px 0;
      b {
        font-size: 120%;
        color: $shaklee-green1;
      }
    }
    .score-bar {
      img {
        margin: 15px 0 0 40px;
        width: 70%;
      }
      .img-label {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        margin: 25px 0 0 -17px;
      }

      .legend {
        text-align: left;
        margin: 5px 0 0;
        .score-mover {
          display: inline-block;
          text-align: right;
          font-weight: bold;
          position: relative;

          em {
            background: $white-color;
            border-radius: 50%;
            color: $hp-banner2;
            text-align: center;
            top: -0.45em;
            position: absolute;
            right: -0.5em;
            box-shadow: 0 0 10px 0 $black1;
            font-weight: 400;
            font-size: 1.3em;
            font-style: normal;
            height: 2em;
            line-height: 2em;
            width: 2em;
          }
        }
      }
      .bar {
        clear: both;
        .scale {
          height: 15px;
          margin: 0;
          padding: 0;
          display: inline-block;
          float: left;
        }
        .red {
          background: $red1;
          width: 50%;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }
        .orange {
          background: $orange1;
          width: 20%;
        }
        .yellow {
          background: $yellow1;
          width: 20%;
        }
        .green {
          background: $hp-banner2;
          width: 10%;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }
      .line {
        clear: both;
        height: 11px;
        font-size: 11px;
        font-weight: bold;
        .left {
          float: left;
          width: 50%;
          text-align: left;
          display: inline-block;
        }
        .right {
          width: 50%;
          text-align: right;
          display: inline-block;
        }
      }
    }
    .info {
      margin: 25px 0 0;
      padding: 0;
      line-height: 19px;
      font-size: 12px;
    }
  }
}