@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.question {
  background-color: $question-background-color;
  border:1px solid $grey-color1;
  padding: 15px 20px;
  min-height: 490px;
  margin-bottom:25px;

  .question-header {
    h4{
      color: $landing-header;
      font-size: 20px;
      font-weight: bold;
      margin: 5px;
      @include question-text;
    }
    h2{
      color: $shaklee-blue;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.1em;
      margin: 10px 5px 20px;
      @include question-text;
    }
  }
  .question-img {
    width: 120px;
    height: auto;
  }
  .question-text {
    text-align: center;
    height:1.5em;
    font-weight: 400;
    font-size: 20px;
    color: $shaklee-question-text-color;
    margin: 20px 10px 15px;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  }
  .question-content {
    border:1px solid $grey-color1;
    background:$white-color;
    padding: 0 15px 15px;
  }
  .start-btn {
    margin-top: 20px;
    border-radius: 0;
    padding:15px;
    background-color: $shaklee-blue;
    border-color: #00b3cb;
    color: $white-color;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1em;
    cursor: pointer;
  }
  .hq-btn {
    color: $grey-color2;
    border: 1px solid $dark-grey;
    border-radius: 2px;
    background: $white-color;
    font-size: 14px;
    line-height: 1.35em;
    margin: 15px 0;
    padding: 10px 18px;
    text-transform: none;
    white-space: normal;
    min-height: 4.25em;
    font-weight: bold;
  }

  .hq-gender {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 15px;
  }
}