<div class="question hq-error">
  <div class="question-header">
    <h4 [innerHTML]="'landing.text6' | translate"></h4>
    <h2 [innerHTML]="'landing.text8' | translate"></h2>
  </div>
  <div class="question-content">
    <img class = "img-fluid mx-auto d-block question-img" title="gender" alt="gender" [src]="'//images.shaklee.com/healthprint//02-gender-150x150.png'" />
    <h4 class="question-text" translate>questions.question2</h4>
    <button class="btn btn-block hq-btn" type="button">
      <i class="fa fa-male hq-gender" aria-hidden="true"></i>
      <span translate>label.male</span>
    </button>
    <button class="btn btn-block hq-btn" type="button">
      <i class="fa fa-female hq-gender" aria-hidden="true"></i>
      <span translate>label.female</span>
    </button>
    <button class="btn btn-block start-btn" translate>landing.text7</button>
  </div>
</div>