@import "../../../../assets/scss/variables";
.hp-results-banner {
  border-bottom: 2px solid $hp-banner1;
  padding:10px 0;
  .logo-img {
    width:20%;
  }
  .hp-results-selection {
    .searchable {
      margin:20px auto 0;
    }
  }
  .resultTopLinks {
    margin-top:20px;
    a {
      color: $black1;
      font-size:12px;
    }
  }
}
