<section class="container questions">
  <div class="row hp-banner" *ngIf="pager.index !== 0">
    <div class="col-2">
      <img src="https://images.shaklee.com/healthprint/Healthprint-Logo.png" class="img-fluid">
    </div>
    <div class="col-10 title" [innerHTML]="'questions.banner-text'|translate"></div>
  </div>

  <div class="question" *ngFor="let page of pages;let i=index;">
    <app-question-mixed-content [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-mixed-content'" class="row"></app-question-mixed-content>
    <app-question-selections [@transition] [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-selections'" class="row justify-content-center"></app-question-selections>
    <app-question-age-weight [@transition] [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-age-weight'" class="row justify-content-center"></app-question-age-weight>
    <app-question-goals [@transition] [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-goals'" class="row justify-content-center"></app-question-goals>
    <app-question-dietary-restrictions [@transition] [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-dietary-restrictions'" class="row justify-content-center"></app-question-dietary-restrictions>
    <app-question-form [@transition] [pageIndex] = 'i' [questions]="page.questions" *ngIf="page.component === 'question-form'" class="row justify-content-center"></app-question-form>
  </div>
</section>

